.my-nav.navbar-nav a {
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.my-nav{
    margin-left: auto !important;
}
nav.navbar.navbar-expand.navbar-dark {
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px 0 30px;
}